# Copier ce fichier en application-local.properties et l'adapter a votre poste.
# application-local.properties est ignore par git.
spring.datasource.url=jdbc:postgresql://localhost:5432/nafsiti
spring.datasource.username=postgres
spring.datasource.password=votre_mot_de_passe
# Generer une cle : openssl rand -base64 48
app.jwt.secret=remplacer_par_une_cle_base64_d_au_moins_32_octets
# Generer une cle : openssl rand -base64 32
app.chiffrement.cle=remplacer_par_une_cle_base64_de_32_octets
# Service IA Python
app.ia.url=http://localhost:8000
app.ia.api-key=meme_valeur_que_NAFSITI_IA_API_KEY
# E-mails (facultatif) : sans ces lignes, les e-mails sont seulement journalises
#spring.mail.host=smtp.gmail.com
#spring.mail.port=587
#spring.mail.username=votre.adresse@gmail.com
#spring.mail.password=mot_de_passe_d_application
