<ul class="navbar-nav ms-auto">
  <!-- Rappels et notifications intelligentes -->
  <li>
    <div ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:void(0)" class="nf-cloche" [attr.aria-label]="nombreRappels() + ' notification(s)'">
        <i class="icon feather icon-bell" title="Notifications"></i>
        @if (nombreRappels() > 0) {
          <span class="nf-cloche__badge">{{ nombreRappels() }}</span>
        }
      </a>
      <div ngbDropdownMenu class="dropdown-menu-end notification nf-rappels">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          @if (nombreRappels() > 0) {
            <div class="float-end">
              <a href="javascript:void(0)" (click)="rappels.toutIgnorer()">Tout marquer comme lu</a>
            </div>
          }
        </div>
        <ul class="noti-body">
          @for (r of rappels.rappels(); track r.id) {
            <li class="notification nf-rappel nf-rappel--{{ r.type }}">
              <a [routerLink]="r.lien" class="d-flex gap-3 text-reset text-decoration-none" ngbDropdownItem (click)="rappels.ignorer(r.id)">
                <span class="nf-rappel__icone"><i class="feather {{ r.icone }}"></i></span>
                <span class="flex-grow-1">
                  <strong class="d-block">{{ r.titre }}</strong>
                  <span class="text-muted small">{{ r.texte }}</span>
                </span>
              </a>
            </li>
          } @empty {
            <li class="notification text-muted text-center py-3">Rien de nouveau pour le moment.</li>
          }
        </ul>
        @if (rappels.notificationsNavigateur() === 'default') {
          <div class="noti-footer">
            <a href="javascript:void(0)" (click)="rappels.activerNotificationsNavigateur()">
              <i class="feather icon-bell me-1"></i>Recevoir les rappels même hors de la page
            </a>
          </div>
        }
      </div>
    </div>
  </li>
  @if (utilisateur()?.role !== 'ADMINISTRATEUR') {
    <li>
      <a [routerLink]="['/messagerie']" class="nf-cloche" title="Messagerie" aria-label="Messagerie">
        <i class="icon feather icon-mail"></i>
      </a>
    </li>
  }
  <li>
    <div class="drp-user" ngbDropdown placement="auto">
      <a href="javascript:void(0)" ngbDropdownToggle class="nf-header-user">
        <span class="nf-avatar nf-avatar--sm">{{ initiales(utilisateur()) }}</span>
        <span class="nf-header-user__name d-none d-md-inline">{{ utilisateur()?.prenom }}</span>
      </a>
      <div class="dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head nf-pro-head">
          <span class="nf-avatar">{{ initiales(utilisateur()) }}</span>
          <span class="nf-pro-head__text">
            <strong>{{ utilisateur()?.prenom }} {{ utilisateur()?.nom }}</strong>
            @if (utilisateur(); as u) {
              <small>{{ roleLabels[u.role] }}</small>
            }
          </span>
          <a href="javascript:void(0)" class="dud-logout" title="Se déconnecter" (click)="deconnexion()">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li>
            <a [routerLink]="['/profil']" ngbDropdownItem>
              <i class="feather icon-user"></i>
              Mon profil
            </a>
          </li>
          @if (estAdmin()) {
            <li>
              <a [routerLink]="['/utilisateurs']" ngbDropdownItem>
                <i class="feather icon-users"></i>
                Gestion des utilisateurs
              </a>
            </li>
          }
          <li>
            <a href="javascript:void(0)" ngbDropdownItem (click)="deconnexion()">
              <i class="feather icon-log-out"></i>
              Se déconnecter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
